.dropmenu {
  margin: 1rem 1rem;
  width: auto;
}

.menubtn {
  display: flex;
  flex-direction: column;
  margin: 1rem 0.5rem;
}

.cars {
  color: white;
  margin: 0 1rem;
}

.dropmenuitem {
  color: black;
}

.label {
  color: white;
}

.menuitem {
  margin: 1rem 0.5rem;
}

.formcontrol {
  margin: 1rem 0.5rem;
  display: flex;
  flex-direction: column;
}

.visa {
  margin: 1rem 0.5rem;
  background-color: white;
  width: 300px;
}

.menubtn {
  font-size: 1rem;
  border-color: white;
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  background-color: white;
  width: 100px;
}
